{% extends "base.html" %}

{% block content%}
<h2 class="text-center" id="dashboardh1">Recommendations heading</h2>
<div class="row ">
    <div class="col ms-3">
        <h3>Market Recommendations</h3>
        <h5>Enjoy the lowewst prices from the markets with the lowest prices across Uganda</h5>
        <ul>
            <li>Know where the prices are lowest</li>
            <li class="ms-2">Don't be beaten by Location</li>
            <li class="ms-4">Benefit from Knowing where prices are lowest</li>
        </ul>
        <h6>These are the Markets with the lowest prices this Month</h6>
        <!-- Table div -->
        <div>
            <table>
                <tr>
                    
                    <th>Sugar</th>
                    <th>Rice</th>
                    <th>Maize Flour</th>
                    <th>Beans</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col m-4" id="mktpics">
        
            <div id="wrapper">
            <img src="/static/images/mbale.jpg" alt="" class="img1">
            <img src="/static/images/owino-market.jpg" alt="" class="img2">
            <img src="/static/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="" class="img2">
        
    </div>
</div>

<div class="container-fluid" id="recomHd">
<h3 class="text-center pt-3">Seasonal Recommendations</h3>
</div>

<div class="row">
    <div class="col">
        
    </div>
    <div class="col py-2">
        <h5>Get ready to embrace the season with our handpicked recommendations.</h5>
        <h6 class="ps-3"> Discover the latest trends, essential items, and delightful experiences that perfectly 
            complement the unique charm and activities of this season.</h6>
            <ul class="ps-4">
                <li >Make educated decissions</li>
                <li class="ms-2">Know Price changes season in season out</li>
                <li class="ms-3">Procure in the Most Apropriate time</li>
                <li class="ms-4">Stay ahead of the Curve</li>
            </ul>
    </div>
</div>

{% endblock %}
