{% extends "base.html" %}

{% block content%}
<div id="dashboardh1" class="mb-4">
<h2 class="text-center">Summary of Key Highlights</h2>
</div>
<div class="container row" >
    <div class="col ">
        <h4>Discover the concise summary of the main <br> highlights from our gallery.</h4>
        <h6 class="ps-4">
            <p> This section provides a comprehensive overview, capturing
             the essence of the diverse range of items available.</p>
            <p>  Dive into this condensed version to quickly grasp the standout features, trends, and unique offerings that make our gallery
             a must-visit destination for enthusiasts and collectors alike.</h6>
            </p>
            
    </div>
    
    <div class="col"></div>
    
</div>
<h2 class="text-center" id="dashboardh1">Overview</h2>
<h3 class="text-center">Market Factors and Pirce Drivers</h3>
<div class="row py-4 ps-4 justify-content-center">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/market factors.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Market Factors</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Government Policies</li>
              <li class="list-group-item">International Conditions</li>
              <li class="list-group-item">Customer Income</li>
            </ul>
            <div class="card-body">
              
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/price drivers.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Price Drivers</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Product Price Sensetivity</li>
              <li class="list-group-item">Customer Price Sensetivity</li>
              <li class="list-group-item">Market Price Sensetivity</li>
            </ul>
            <div class="card-body">
             
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/market segmentation.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Market Segmentation</h5>
              <p class="card-text"> Markets are devided into approachable groups.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Demographic</li>
              <li class="list-group-item">Psychographic</li>
              <li class="list-group-item">Geographic</li>
            </ul>
            <div class="card-body">
              
            </div>
          </div>
    </div>
</div>
{% endblock %}
